a {
	color: black;
}

.chat {
	padding	: 0;
}
	.chat form input, .chat form button {
		margin-bottom: 0;
	}

.add-button {
	font-size: 2em !important;
}
.add_participant span {
    color: green;
    font-weight: bold;
}
.postfix span {
    color: green;
}

input.ng-invalid-email {
	color: red;
}

button {
	background-color: #848484;
}

.events {
	margin: 10px;
	padding: 10px;
	margin-left: 0;
	color: black;
	background-color: rgb(194, 194, 194);
}

.event-title:first-letter {
	color: red;
}

.event-description {

}

.profile {
	margin: 10px;
}

.profile h2 {
	margin-top: 0;
}

.profile h3 {
	margin-top: 10px;
}

.profile button {
	margin-top: 10px;
	margin-bottom: 5px;
}

.edit-profile div {
	margin-top: 10px;
}

.strike {
	text-decoration: line-through;
}

.participant {
	padding: 5px;
	margin: 5px;
	display: block;
	font-weight: bold;
}

.block {
	background-color: #ccc;
	padding: 5px;
	margin: 5px;
	display: block;
	font-weight: bold;
}

.task {
	margin-left: 30px;
}

.galka {
	margin-left: 18px;
}

.participants + .block {
	background-color: rgb(207, 210, 101);
}

.pull-right {
	float: right;
}

.past_event {
	background-color: rgb(240, 196, 196);
}