<!doctype html>
<html class="no-js" lang="en" ng-app="EventManagerApp">
<head>
    <title>Серые праздники</title>

    <meta charset="utf-8"/>
    
    <link rel="stylesheet" href="/css/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="/app/styles/main.css">

    <script src="js/jquery-2.1.4.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-ui-router.js"></script>
    <script src="/js/resource.js"></script>

    <script src="/app/scripts/app.js"></script>

    <script src="/app/scripts/resources/Event.js"></script>
    <script src="/app/scripts/resources/Profile.js"></script>
    <script src="/app/scripts/resources/Task.js"></script>
    <script src="/app/scripts/resources/Participant.js"></script>
    
    <script src="/app/scripts/services/AuthService.js"></script>
    
    <script src="/app/scripts/controllers/EventController.js"></script>
    <script src="/app/scripts/controllers/EventsController.js"></script>
    <script src="/app/scripts/controllers/IndexController.js"></script>
    <script src="/app/scripts/controllers/AuthController.js"></script>
    <script src="/app/scripts/controllers/ParticipantController.js"></script>
</head>

<body ng-controller="AppCtrl">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Серые праздники</a></h1>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li><a ui-sref="events">События</a></li>
                <li><a href="#">Задачи</a></li>
            </ul>
        </section>
    </nav>

    <div class="row">
        <div class="large-8 small-8 columns">
            <div class="panel">
                <div ui-view></div>
            </div>
        </div>
        <div class="large-4 small-4 columns">
            <div class="panel chat" ng-controller="AuthController">
                <div ng-hide="AuthService.user" class="profile">
                    <div>
                        <h3>Login/Register</h3>
                    </div>
                    <form>
                        <input type="email" ng-model="credentials.email" placeholder="email">
                        <span ng-hide="credentials.email">Нормальный адрес укажи</span>
                        <input type="password" ng-model="credentials.password" placeholder="password">
                        <span ng-hide="credentials.password">и пароль</span>
                        <div>
                            <div>{{ message }}</div>
                            <button ng-click="login(credentials)">Login</button>
                            <button ng-click="register(credentials)">Register</button>
                        </div>
                    </form>
                </div>
                <div ng-show="AuthService.user" class="profile">
                    <h2>
                        <img ng-src="{{ avatar }}">
                        <a ui-sref="participant({ id: AuthService.user.id })"><span>{{ AuthService.user.name }}</span></a>
                    </h2>
                    <div>
                        <div>email: {{ AuthService.user.email }}</div>
                    </div>
                    <button ng-click="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/md5.js"></script>
    <!-- Наши скрипты -->
    <script>
        $(document).foundation();
    </script>
</body>
</html>
