<div>
	<div ng-hide="editing.event">
		<h1 class="event-title">{{ event.title }}</h1>
		<div class="event-description">{{ event.description }}</div>


		<h3>Участники</h3>
		<div ng-repeat="participant in participants" class="event-participant">
			<span>{{ participant.name }}</span>
		</div>

		<h3>Задачи</h3>
		<div ng-repeat="task in tasks" class="event-task">
			<span ng-class="strike_class(task)">{{ task.content }}</span>
			<!-- (<a ui-sref="event( {id: task.participant.id} )">{{ task.participant.name }}</a>) -->
			<span class="pull-right">
				<a href="" ng-click="confirmTask(task)" ng-hide="task.isDone || !isParticipant()">&#10004;</a>
				<a href="" ng-click="deleteTask(task)" ng-show="isCreator()">&#10008;</a>
				<a href="" ng-click="takeTask(task)" ng-hide="task.isDone || !isParticipant()">&#9773;</a>
			</span>
		</div>
		<br/>

		<div ng-show="editing.task">
			<h1>Озадачивание</h1>
			<form ng-submit="saveTask()">
				<input type="text" ng-model="task.content" placeholder="Задача">
				<button type="submit">Да, озадачить</button>
				<button type="button" ng-click="cancelEditTask()">Нет, не стоит</button>
			</form>
		</div>

		<div ng-show="!editing.task && isCreator()">
			<button type="button" ng-click="addTask()">Озадачить</button>
			<button type="button" ng-click="editEvent()">Редактировать</button>
			<button type="button" ng-click="deleteEvent()">Удалить</button>
		</div>
	</div>

	<div ng-show="editing.event">
		<h1>Редактирование</h1>
		<form  ng-submit="saveEvent()">
			<label>Название</label>
			<input ng-model="form.title">
			<label>Описание</label>
			<textarea ng-model="form.description"></textarea>
			<div>
				<button>Сохранить</button>
				<button type="button" ng-click="cancelEditEvent()">Отмена</button>
			</div>
		</form>
	</div>

	<div ng-hide="isParticipant()">
		<button type="buuton" ng-click="takePart()">Принять участие</button>
	</div>
</div>